#d1 {
    width: 1500px; height: 1500px;
    background-image: url(https://cdn.folhape.com.br/img/pc/1100/1/dn_arquivo/2024/07/afp-20240701-362c79n-v1-preview-fbleuro2024match41porslo.jpg);
    background-size:cover ;
}    